@font-face {
  font-family: 'Intel One Mono';
  src: url('./intelone-display-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Intel One Mono';
  src: url('./intelone-display-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Intel One Mono';
  src: url('./intelone-display-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Intel One Mono';
  src: url('./intelone-display-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
